@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Judson', sans-serif;
  background: #F0E7D8;
  color: #141115;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -1px;
}

.flex-container {
  display: flex;
  text-align: center;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  flex: 1;
}

.reversed {
  flex-direction: row-reverse;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex: 1;
}

.hero-content p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 200;
}

.hero-img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  padding: 10px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  
}

.app-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  justify-content: center;

}

.app-img {

  flex: 1;
}

.app-desc p {
  font-size: 14px;
  line-height: 90%;
  font-weight: 200;
}

.app-img img {
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges; 
  image-rendering: -webkit-optimize-contrast; 
  /* image-rendering: crisp-edges; */
  /* -ms-interpolation-mode: nearest-neighbor; IE (non-standard property) */
  max-width: 200px;
  height: auto;
}

#cartflow {
  background-color: #735B63;
}

#cartflow h2 {
  color: white;
  
}

#cartflow p{
  color: #F0E7D8;
}

#activedispatch {
  background: #4F4C7B;
}

#activedispatch h2 {
  color: white;
}

#activedispatch p {
  color: #F0E7D8;
}

#weatherapp {
  background: #141115;
}

#weatherapp h2 {
  color: white;
}

#weatherapp p {
  color: #F0E7D8;
}

#topheadlines {
  background: #465F68;
}

#topheadlines h2 {
  color: white;
}

#topheadlines p {
  color: #F0E7D8;
}

@media(max-width: 768px) {
  /* .navbar {
      flex-direction: column;
      height: 120px;
      padding: 20px;
  }

  .navbar a {
      padding: 10px 10px;
      margin: 0 3px;
  } */

  .flex-container {
      flex-direction: column;
  }

  .hero {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
      flex: 100%;
      max-width: 100%;
  }

  .app-img img {
      width: 40%;
  }
}